@charset "UTF-8";
/* Заголовоки */
/* line 3, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h1, h2 {
  width: 100%;
  margin-bottom: 5px;
  padding: 3px;
  border-bottom: 3px solid #e7e7e7;
  font-weight: normal;
}

/* line 11, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h1 {
  font-size: 22px;
}
/* line 13, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h1:after {
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  position: relative;
  color: #aaa;
  font-weight: normal;
}
/* line 15, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h1.icon_hide:after {
  content: "\e080";
  top: 2px;
  left: 15px;
}
/* line 16, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h1.icon_show:after {
  content: "\e114";
  top: 3px;
  left: 18px;
}

/* line 19, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h2 {
  font-size: 20px;
}
/* line 21, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h2:after {
  font-family: 'Glyphicons Halflings';
  font-size: 16px;
  position: relative;
  color: #aaa;
  font-weight: normal;
}
/* line 23, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h2.icon_hide:after {
  content: "\e080";
  top: 2px;
  left: 15px;
}
/* line 24, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
h2.icon_show:after {
  content: "\e114";
  top: 3px;
  left: 18px;
}

/* Для колонок на страничке */
/* line 28, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
.clmn {
  display: inline-block;
  vertical-align: top;
}

/* line 30, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
.dialog-no-close .ui-dialog-titlebar-close {
  display: none;
}

/* Скрыть кнопку кнопки */
/* Для удаления записи */
/* line 34, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
#dialog_delete div:after {
  content: 'Ви дійсно бажаєте видалити цей документ?';
}
/* line 35, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
#dialog_delete div:before {
  content: "\e014";
  font-family: 'Glyphicons Halflings';
  margin-right: 3px;
  top: 2px;
  position: relative;
  color: #d9534f;
}

/* Диалог ожидания */
/* line 40, D:/ProjectRuby/portal/app/assets/stylesheets/application2.scss */
#dialog_wait div {
  text-align: center;
  margin-bottom: 15px;
}
