/* line 3, D:/ProjectRuby/portal/app/assets/stylesheets/institution_orders.scss */
#institution_orders #table_institution_orders, #institution_orders #table_io_corrections {
  height: 500px;
}
/* line 5, D:/ProjectRuby/portal/app/assets/stylesheets/institution_orders.scss */
#institution_orders .clmn:nth-child(1) {
  width: 536px;
}
/* line 6, D:/ProjectRuby/portal/app/assets/stylesheets/institution_orders.scss */
#institution_orders .clmn:nth-child(2) {
  width: 435px;
}
/* line 6, D:/ProjectRuby/portal/app/assets/stylesheets/institution_orders.scss */
#institution_orders .clmn:nth-child(2) table {
  float: right;
}
