/* line 3, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products #supplier_name {
  width: 224px;
}
/* line 4, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products #contract_number {
  width: 139px;
}
/* line 6, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products #table_institution_order_products {
  height: 370px;
}
/* line 10, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products .table col:nth-of-type(1) {
  width: 400px;
}
/* line 11, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products .table col:nth-of-type(2) {
  width: 100px;
}
/* line 15, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products .table td:nth-of-type(1) {
  padding-left: 25px;
  text-align: left;
}
/* line 16, D:/ProjectRuby/portal/app/assets/stylesheets/receipt_products.scss */
#receipt_products .table td.row_group:nth-of-type(1) {
  padding-left: 3px;
  text-align: left;
}
