@charset "UTF-8";
/* Табличка */
/* line 4, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table {
  font-size: 13px;
  word-wrap: break-word;
  border-spacing: 0;
  /* Заголовок таблицы */
  /* Поле ввода */
  /* Выделение в таблички строку */
  /* Выделение в таблички строку */
  /* Базовая кнопка */
  /* Кнопка просмотр */
  /* Кнопка редактировать */
  /* Кнопка удалить */
  /* Группировка колонок */
  /* Поле даты */
  /* Поле даты и времени */
  /* Поле количества */
}
/* line 10, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead {
  color: #333;
}
/* line 11, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead, table.table thead th {
  background-color: #fbfbfb;
}
/* line 15, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead tr:nth-child(1) th {
  border-top: 1px solid #e7e7e7;
}
/* line 16, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead tr:nth-child(1) th:first-child {
  border-top-left-radius: 5px;
}
/* line 17, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead tr:nth-child(1) th:last-child {
  border-top-right-radius: 5px;
}
/* line 20, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead tr th:first-child {
  border-left: 1px solid #e7e7e7;
}
/* line 21, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table thead tr th:last-child {
  border-right: 1px solid #e7e7e7;
}
/* line 24, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tr {
  height: 27px;
  padding: 0;
  margin: 0;
}
/* line 26, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table th:not(:nth-last-child(1)), table.table td:not(:nth-last-child(1)) {
  border-right: 1px dotted #e7e7e7;
}
/* line 28, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table th, table.table td {
  text-align: center;
  padding: 0;
  font-weight: normal;
}
/* line 30, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table th, table.table tr:not(:nth-last-child(1)) td {
  border-bottom: 1px dotted #e7e7e7;
}
/* line 33, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table input {
  width: 100%;
  font-size: 13px;
  height: 26px;
  text-align: center;
  border: none;
}
/* line 40, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table input:focus {
  outline: none;
}
/* line 44, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr {
  cursor: pointer;
  /* Нажатие в таблички строку для JQUERY */
}
/* line 46, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr:hover td, table.table tbody tr:hover input {
  background-color: #c0def7;
}
/* line 48, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td {
  background-color: white;
}
/* line 50, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td[disabled] {
  background-color: #f1f1f1;
  cursor: default;
}
/* line 51, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td:hover:not([disabled]), table.table tbody tr td:hover:not([disabled]) input {
  background-color: #a1caec;
}
/* line 52, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td input:hover:focus {
  background-color: white;
}
/* line 55, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td:first-child {
  border-left: 1px solid #e7e7e7;
}
/* line 56, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr td:last-child {
  border-right: 1px solid #e7e7e7;
}
/* line 59, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr.selected {
  cursor: default;
}
/* line 60, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr.selected td, table.table tbody tr.selected input {
  background-color: #e7e7e7;
}
/* line 61, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr.selected td {
  border-right: 1px solid white;
}
/* line 62, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tbody tr.selected input:focus {
  background-color: white;
}
/* line 68, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tfoot {
  background-color: #e7e7e7;
}
/* line 70, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tfoot tr td {
  font-weight: bold;
}
/* line 72, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tfoot tr td:first-child {
  border-bottom-left-radius: 5px;
}
/* line 73, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table tfoot tr td:last-child {
  border-bottom-right-radius: 5px;
}
/* line 78, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button {
  height: 100%;
  width: 25px;
  background-color: transparent;
  text-align: center;
  font-size: 12px;
  border-style: none;
  cursor: pointer;
}
/* line 86, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button:disabled {
  color: #e7e7e7;
  cursor: default;
}
/* line 87, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button:before {
  font-family: 'Glyphicons Halflings';
  top: 1px;
  position: relative;
}
/* line 92, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_view:before {
  content: "\e105";
}
/* line 93, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_view:enabled {
  color: #5bc0de;
}
/* line 94, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_view:hover:enabled {
  color: #31b0d5;
}
/* line 99, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_edit:before {
  content: "\270f";
}
/* line 100, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_edit:enabled {
  color: #5cb85c;
}
/* line 101, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_edit:hover:enabled {
  color: #449d44;
}
/* line 106, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_del:before {
  content: "\e014";
}
/* line 107, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_del:enabled {
  color: #d9534f;
}
/* line 108, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table button.btn_del:hover:enabled {
  color: #c9302c;
}
/* line 112, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .row_group {
  background-color: #fbfbfb;
  text-align: left;
  font-weight: bold;
  padding-left: 5px;
}
/* line 119, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .date_field {
  width: 85px;
}
/* line 120, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .datetime_field {
  width: 130px;
}
/* line 121, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .count {
  width: 100px;
}
/* line 121, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .count input {
  width: 100px;
}
/* line 122, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .number_field {
  width: 100px;
}
/* line 124, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .uncheck_field {
  width: 60px;
}
/* line 126, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .check_field {
  width: 60px;
}
/* line 127, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .check_field:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  top: 1px;
  position: relative;
  color: #aaa;
}
/* line 130, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .negative {
  color: red;
}
/* line 131, D:/ProjectRuby/portal/app/assets/stylesheets/table.scss */
table.table .positive {
  color: green;
}
