/* line 1, D:/ProjectRuby/portal/app/assets/stylesheets/timesheets.scss */
#timesheets {
  width: 686px;
}
/* line 4, D:/ProjectRuby/portal/app/assets/stylesheets/timesheets.scss */
#timesheets #table_timesheets {
  height: 500px;
}
/* line 6, D:/ProjectRuby/portal/app/assets/stylesheets/timesheets.scss */
#timesheets #table_timesheets col:nth-of-type(4) {
  width: 150px;
}
