<!-- Отображение списка пользователей -->

<div id="users">

  <!-- Отображение пользователя поставщика -->

  <div class="text-header">Користувачі порталу</div>
  <div class="menu-panel">

  </div>

  <div id="area-ajax"><%= render("users/table_users") %></div>
</div>

</div>

<!-- Сообщение при удалении -->
<div id="user-delete-dialog" title="Ви впевнені?">
  <div class="delete-dialog"></div>
</div>