$ffIcon: 'Glyphicons Halflings';

#del_msg {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 1s, visibility 1s;

  &:not(.hide) {
    visibility: visible;
    opacity: 1;
  }

  .message {
    position: relative;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 0 #fff;
    background-color: #fff;
    transition: margin-top 1.3s;
  }

  .header {
    background-color: #fcf8e3;
    border: 1px solid transparent;
    color: rgba(138, 109, 59, .7);
    padding: 10px 15px;
    border-top-left-radius: 5px;

    &:before {
      content: '\e085';
      position: relative;
      top: 2px;
      padding-right: 5px;
      font-family: $ffIcon;
    }
  }

  .caption {
    color: #8a6d3b;
    font-weight: bold;
    padding-left: 10px;
  }

  .footer {
    padding: 10px;
    text-align: right;

    button {
      padding: 6px 12px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 14px;
      color: #fff;
      border: 1px solid transparent;

      &.success {
        margin-right: 15px;
        background-color: #5cb85c;
        border-color: #4cae4c;

        &:hover {
          background-color: #47a447;
          border-color: #398439;
        }
      }

      &.cancel {
        background-color: #f0ad4e;
        border-color: #eea236;

        &:hover {
          background-color: #ed9c28;
          border-color: #d58512;
        }
      }
    }
  }

  .close {
    position: absolute;
    top: -14px;
    right: -14px;
    width: 28px;
    height: 28px;
    text-align: center;
    background-color: #555;
    color: #fff;
    font: bold 16px/20px verdana, sans-serif;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
    outline: none;

    &:hover {
      background-color: #f00;
    }
  }
}
