#institution_index {
  p.schedule {
    span:first-of-type {
      font-weight: bold;
      text-decoration: underline;
    }

    span:nth-of-type( n+2 ) {
      font-weight: bold;
      color: red;
    }
  }

  p.contacts {
    span:first-of-type {
      font-weight: bold;
      text-decoration: underline;
    }

    span:nth-of-type( n+2 ) {
      font-weight: bold;
      color: red;
    }
  }


}
