@mixin row-group( $bgc, $pl ) {
  cursor: default;

  &:hover,
  td:hover,
  td { background-color: $bgc; }

  :first-child { padding-left: $pl; text-align: left; }
}

#io_correction_products {
  .clmn {
    width: 900px;
    col:nth-child(5) { width: 250px; };

    tr {
      &.date { @include row-group( #dadada, 3px ); }
      &.type { @include row-group( #f1f1f1, 15px ); }
      &.row_data td:first-child { padding-left: 25px; };
    }
  }
}
