$ffIcon: 'Glyphicons Halflings';

@mixin h-fz( $fz ) {
  font-size: $fz;
  &:after { font-size: $fz - 4; }
}

@font-face {
  font-family: $ffIcon;
  src: font_url("glyphicons-halflings-regular.eot");
  src: font_url("glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
  font_url("glyphicons-halflings-regular.woff") format("woff"),
  font_url("glyphicons-halflings-regular.ttf") format("truetype"),
  font_url("glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

* { box-sizing: border-box; }

/* Для холера */
input::-webkit-input-placeholder { color: #e7e7e7; text-align: left; }
input::-moz-placeholder          { color: #e7e7e7; text-align: left; }
input:-ms-input-placeholder      { color: #e7e7e7; text-align: left; }
input:focus { outline: e; }

body { /* Главний блок */
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  > main {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
}

#view {
  margin-bottom: 15px;
}

// ХАК для JQUERY  -- НУЖНО ДЛЯ Datapicker

#ui-datepicker-div { z-index: 999 !important; }

.ui-widget-header .ui-icon {
  background-image: image_url('lib/ui-icons_444444_256x240.png');
}

/* Заголовоки */
h1, h2 {
  width: 100%;
  margin: 0 0 5px 0;
  padding: 3px;
  border-bottom: 3px solid #e7e7e7;
  font-weight: normal;
  padding-left: 15px;

  &:after { font-family: $ffIcon; position: relative; color: #aaa; }

  &.icon { &:after { content: "\e080"; top: 2px; left: 15px;} }
  &.icon.hide { &:after { content: "\e114"; top: 3px; left: 18px;} }
}

h1 { @include h-fz( 22px ); }
h2 { @include h-fz( 20px ); }


.clmn_main {
  display: flex;
  flex-direction: row;
}

// Для колонок на страничке
.clmn {
  max-width: 100%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 15px;

  &.hide { display: none }
}

@import 'mixin';
@import 'panel';
@import 'table';
@import 'loader';
@import 'del_msg';
@import 'form_splash';
@import 'institution';
@import 'institution_orders';
@import 'institution_order_products';
@import 'io_correction_products';
@import 'main_menu';
@import 'menu_requirement_products';
@import 'menu_requirements';
@import 'receipt_products';
@import 'receipts';
@import 'sessions';
@import 'timesheet_dates';
@import 'timesheets';
@import 'users';
@import 'reference_books';
