@mixin row-group( $el, $bgc, $c, $pl, $ta ) {
  cursor: default;
  text-align: center;

  &:hover,
  #{ $el }:hover,
  #{ $el }:not(.hover) { background-color: $bgc; color: $c; }

  :first-child { padding-left: $pl; text-align: $ta; }
}

#menu_requirement_products {
  .panel_main {
    button[data-clmn] {
      &:not(:disabled) {
        background-image: linear-gradient(to right, #8bb41d, #b6e026 51%, #8bb41d 100%);
        border-color: #8bb41d;
      }
    }
  }

  .clmn_main {
    flex-basis: 100%;
  }

  #col_cc {

    table {
      width: 0;
    };

    col:first-child { width: 250px; }
    col ~ col { width: 85px; }
  }

  #col_md {

    // FIX BUG
    thead tr:nth-child(2) th:first-child {
      border-left-width: 0;
    }

    table { width: 0 };
    col:nth-child( 1 ) { width: 250px; }
    col ~ col { width: 90px; }

    tr {
      &.category { @include row-group( 'td', #f1f1f1, #333, 50px, left ); }
    }

  }

  #col_pr {
    .panel {
      label:not(:first-child) {
        font-weight: bold;
      }

      label:first-child {
        margin-right: 20px;
      }
    }

    // FIX BUG
    thead {
      tr:nth-child(2),
      tr:nth-child(3) {
        th:first-child {
          border-left-width: 0;
        }
      }
    }

    table {
       width: 0;
    };

    .panel button {
      min-width: 80px;
    }

    button[data-pf] {
      &:not(:disabled) {
        background-image: linear-gradient(to right, #eab92d, #c79810 51%, #eab92d 100%);
        border-color: #eab92d;
      }
    }

    button[data-meal-id] {
      &:not(:disabled) {
        background-image: linear-gradient(to right, #a6a6f2 0%, #d2d2f9 51%, #a6a6f2 100%);
        border-color: #a6a6f2;
      }
    }

    button[data-meal-id='-1'] {
      margin-left: 20px;
      margin-right: 15px;

      &:not(:disabled) {
        background-image: linear-gradient(to right, #1c5a85 0%, #3093c7 51%, #1c5a85 100%);
        border-color: #1c5a85;
      }
    }

    button[data-meal-id='0'] {
      margin-left: 11px;

      &:not(:disabled) {
        background-image: linear-gradient(to right, #92cfde 0%, #76bdd1 51%, #92cfde 100%);
        border-color: #92cfde;
      }
    }

    col:nth-child( 1 ) { width: 250px; }

    tr {
      &.type { @include row-group( 'td', #f1f1f1, #333, 50px, left ); }

      .price {
        border-right: 3px solid #f1f1f1;
        border-left: 2px solid #f1f1f1;
      }

      .last_dish {
        border-right: 3px solid #e7e7e7;
      }

      .last_meal {
        border-right: 3px solid #777;
      }

    }
  }
}
