@mixin row-group( $el, $bgc, $c, $pl, $ta ) {
  cursor: default;
  text-align: center;

  &:hover,
  #{ $el }:hover,
  #{ $el }:not(.hover) {
    background-color: $bgc;
    color: $c;
  }

  :first-child {
    padding-left: $pl;
    text-align: $ta;
  }
}

#menu_requirement_products {
  .panel_main {
    button[data-clmn] {
      &:not(:disabled) {
        background-image: linear-gradient( to right, #6db369, #91d88d 51%, #6db369 100% );
      }
    }
  }

  .clmn_main {
    flex-basis: 100%;
  }

  #col_cc {

    // FIX BUG
    thead tr:nth-child(2) th:first-child {
      border-left-width: 0;
    }

    table {
      width: 0;
    };

    col:first-child { width: 250px; }
    col ~ col { width: 85px; }

    .name,
    .last_count {
      border-right: 3px solid #333;
    }

    .last_plan {
      border-right: 2px solid #777;
    }

    .day_cost {
      border-right: 1px solid #777;
    }

    tr.row_group {
      td {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
      }

      td:not(:first-child) {
        text-align: center;
      }
    }
  }

  #col_md {

    // FIX BUG
    thead tr:nth-child(2) th:first-child {
      border-left-width: 0;
    }

    table { width: 0; };
    col:nth-child( 1 ) { width: 250px; }
    col ~ col { width: 90px; }

    tr {
      &.category { @include row-group( 'td', #f1f1f1, #333, 50px, left ); }
    }

  }

  #col_pr {
    .panel {
      label:not(:first-child) {
        font-weight: bold;
      }

      label:first-child {
        margin-right: 20px;
      }
    }

    // FIX BUG
    thead {
      tr:nth-child(2),
      tr:nth-child(3) {
        th:first-child {
          border-left-width: 0;
        }
      }
    }

    table {
       width: 0;
    };

    .panel button {
      min-width: 80px;
    }

    button[data-pf=plan] {
      &:not(:disabled) {
        background-image: linear-gradient( to right, #b5e8b3, #cbf1ca 51%, #b5e8b3 100% );
        color: black;
      }

      &:disabled {
        background-image: linear-gradient( to right, #46b8da, #269abc 51%, #46b8da 100% );
        color: white;
      }
    }

    button[data-pf=fact] {
      margin-right: 50px;

      &:not(:disabled) {
        background-image: linear-gradient( to right, #e49393, #ffc7c7 51%, #e49393 100% );
      }
    }

    button[data-meal-id] {
      &:not(:disabled) {
        background-image: linear-gradient( to right, #fff2bc 0%, #fff9e0 51%, #fff2bc 100% );
        color: black;
      }
    }

    button[data-meal-id='0'] {
      &:not(:disabled) {
        background-image: linear-gradient( to right, #e2bc28 0%, #ffe47c 51%, #e2bc28 100% );
        color: black;
      }
    }

    button[ data-meal-id =
     '-1' ] {
      margin-left: 50px;
      &:not(:disabled) {
        background-image: linear-gradient( to right, #e49393, #ffc7c7 51%, #e49393 100% );
        color: white;
      }
    }

    col:nth-child( 1 ) { width: 250px; }

    tr {
      &.type { @include row-group( 'td', #f1f1f1, #333, 50px, left ); }


      .price {
        border-right: 3px solid #777;
        border-left: 2px solid #f1f1f1;
      }

      .last_dish {
        border-right: 3px solid #e7e7e7;
      }

      .last_meal {
        border-right: 3px solid #777;
      }

      .last_plan {
        border-right: 3px solid #333;
      }

      .last_cat {
        border-left: 1px solid #777;
      }

      .last_diff {
        border-right: 3px solid #e7e7e7;
      }

    }
  }

  #col_norm {
    tr {
      &.dishes_category { @include row-group( 'td', #aaa, #fff, 3px, left ); }
      &.dish { @include row-group( 'td', #dadada, #333, 15px, left ); }
      &.products_type { @include row-group( 'td', #f1f1f1, #333, 27px, left ); }

      &.row_data {
        .name {
          cursor: default;
          padding-left: 39px;
          text-align: left;
        }
      }
    }
  }

}
