$ffIcon: 'Glyphicons Halflings';
@import "mixin";

.panel_main {
  $h_row: 32px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  overflow: hidden;
  transition: flex .6s linear .1s;

  &.row_2 { flex-basis: $h_row * 2; }

  &.hide { flex-basis: 0; };
}

// Менюшка панелька
.panel {
  $mr: 4px;
  $bdrs: 3px;

  display: flex;
  flex-shrink: 0;

  height: 32px;
  flex-basis: 32px;
  padding: 3px;
  line-height: 26px;
  color: #333;
  font-size: 13px;
  overflow: hidden;

  // Блок для того что бы нарисовать иконку перед элементок
  label {
    &.icon_filter { @include label-icon( auto, '\e138', left ); } // Иконка фильтрации
    &.icon_edit { @include label-icon( 90px, '\270f', left ); } // Иконка редактирования
    &.icon_сalendar { @include label-icon( 90px, '\e109', center ); } // Иконка календарь
    &.icon_number { @include label-icon( 120px, '\e022', left ); };
    &.icon_none { @include label-icon( 70px, '', center ); };
  }

  .btn_create { // Кнопка создать
    @include button-text( #5cb85c, #4cae4c, #449d44, #398439, 'Створити' );
  }

  .btn_send { // Кнопка отправить
    @include button-text(#5bc0de, #46b8da, #31b0d5, #269abc, 'Надіслати' );
  }

  .btn_exit { // Кнопка выход
    @include button-text( #f0ad4e, #eea236, #ec971f, #d58512, 'Закрити' );
  }

  .btn_save { // Кнопка сохранить
    @include button-text( #f0ad4e, #eea236, #ec971f, #d58512, 'Зберегти та закрити' );
  }

  .btn_print { // Button print
    @include button-text( #5bc0de, #46b8da, #39b3d7, #269abc, 'Друк' );
  }

  .btn_default { // Кнопка по умолчанию
    @include button-text( #5bc0de, #46b8da, #39b3d7, #269abc, '' );
  }

  .btn_gradient {
     @include button-text( #fff, #46b8da, #fff, #269abc, '' );
     background-image: linear-gradient(to right, #CC95C0 0%, #DBD4B4 51%, #CC95C0 100%);
     background-size: 200% auto;
     &:hover { background-position: right center; };
     transition: 0.5s;
     border: none;
  }

  & > .hide {
    display: none;
  }

  button.nav:disabled {
    //cursor: default;
    background-color: #337ab7;
    color: white;
    border: solid 1.5px #1d64a0;
    background-image: none;
    &:hover:enabled {
      background-position: none;
      background-color: #337ab7;
    }
  }

  //---------------------------
  // < select
  %row_group.row_group {
    font-weight: bold;
    background-color: #dadada;
  }

  select {
    margin-right: $mr;
    border-radius: $bdrs;
    border: 1px solid #e7e7e7;
    @extend %row_group;

    option {
      color: black;
      background-color: white;
      @extend %row_group;
    }

    &:hover:enabled {
      border-color: #aaa;
    }

    &.placeholder:enabled,
    option[value=""] { // Для того что бы значение по-умолчанию сделать другим цветом
      color: #666;
    }
  }
  // > select
  //---------------------------

  //---------------------------
  // < label.radio
  label.radio {
    $h: 15px;

    position: relative;
    margin-right: $mr;
    padding-left: $h + $mr;

    input {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: $h;
      margin: 0;
    }
  }
  // > label.radio
  //---------------------------

  //!!! Всегда снизу что бы перебивать другие стили
  // Первый елемент который будет толкать вправо
  .right_first {
    @include ml-mr( auto, 0 );
  }

  // Следующие елементи вправо
  .right_next {
    @include ml-mr( $mr, 0 );
  }

  &.hide { flex-basis: 0; padding: 0; height: 0; };
}
