#products_moves {
  flex-direction: row;

  .clmn {
    flex-basis: 1000px;
    table {
      col:first-child { width: 100px; }

      td:first-child {
        font-weight: bold;
        &[ data-type = '0' ] { color: green; }
        &[ data-type = '1' ] { color: red; }
      }
    }
  }
}
