@mixin row-group( $bgc, $pl ) {
  cursor: default;

  &:hover,
  td:hover,
  td { background-color: $bgc; }

  :first-child { padding-left: $pl; text-align: left; }
}

#receipt_products {
  width: 1200px;
  #supplier_name { width: 224px;}
  #contract_number { width: 139px; }

  .clmn {
    col:nth-child(7) { width: 300px; };

    tr {
      &.date { @include row-group( #dadada, 3px ); }
      &.row_data td:first-child { padding-left: 15px; };
    }
  }
}
