@mixin row-group( $el, $bgc, $c, $pl, $ta ) {
  cursor: default;
  text-align: center;

  &:hover,
  #{ $el }:hover,
  #{ $el }:not(.hover) { background-color: $bgc; color: $c; }

  :first-child { padding-left: $pl; text-align: $ta; }
}

#dishes_products_norms {

  .parent_table {
    table { width: 0; }
    col:first-child { width: 40px; }
    col:nth-child( 2 ) { width: 350px; }
  }

  tr {
    &.dishes_category { @include row-group( 'td', #aaa, #fff, 3px, left ); }
    &.dish {
      cursor: default;
      text-align: center;

      &:hover,
      td:hover,
      td:not(.hover) { background-color: #f7f7f7; color: #333; }

      &[ data-institution = '0' ] td:first-child { color: #e7e7e7; }
      &:not( [ data-institution = '0' ] ) td:first-child {
        cursor: pointer;
        &:hover,
        &:not(.hover) { background-color: #dfffc9; }
      }

      :nth-child( 2 ) { padding-left: 5px; text-align: left; }
    }

    &.products_type { @include row-group( 'td', #f1f1f1, #333, 27px, left ); }


    &.row_data {

      .name {
        cursor: default;
        padding-left: 39px;
        text-align: left;
      }
    }
  }
}
