$ffIcon: 'Glyphicons Halflings';

@mixin tbl-btn($cnt, $c, $c_hover) {
  &:before {
    content: $cnt;
  }

  &:enabled {
    color: $c;
  }

  &:hover:enabled {
    color: $c_hover;
  }
}

.parent_table {
  flex-grow: 1;
}

@mixin tbl-border($tag, $style, $color) {
  tr {
    #{ $tag } {
      &:first-child {
        border-left: 1px solid #e7e7e7;
      }

      &:last-child {
        border-right: 1px solid #e7e7e7;
      }
    }

    &:last-child #{ $tag } {
      border-bottom: 1px solid #e7e7e7;
    }

    #{ $tag }:first-child,
    #{ $tag } ~ #{ $tag }:not(:last-child) {
      border-right: 1px $style $color;
    }
  }
}
$h_td: 26px;
$bdrs: 5px;

// Табличка
table.table_new {
  table-layout: fixed;
  max-width: 100%;
  width: 100%;
  font-size: 13px;
  text-align: center;
  word-wrap: break-word;
  border-spacing: 0;

  colgroup {
    .date {
      width: 85px;
    }

    .number,
    .count {
      width: 100px;
    }

    .button {
      width: $h_td;
    }
  }

  tr {
    &:not(:last-child) {
      th,
      td {
        border-bottom: 1px dotted #e7e7e7;
      }
    }

    th,
    td {
      height: $h_td;
      padding: 0;

      &.hover:not(.active) {
        background-color: #c0def7;
      }
    }
  }

  thead {
    color: #333;

    th {
      position: relative;
      background-color: #fbfbfb;
      z-index: 1;

      &[data-sort] {
        cursor: pointer;

        &:after {
          font-family: $ffIcon;
          top: 6px;
          right: 2px;
          position: absolute;
          color: gray;
        }

        &.asc:after {
          content: '\e093';
        }

        &.desc:after {
          content: '\e094';
        }
      }
    }

    tr {
      &:first-child {
        th {
          border-top: 1px solid #e7e7e7;

          &:first-child {
            border-top-left-radius: $bdrs;
          }

          &:last-child {
            border-top-right-radius: $bdrs;
          }
        }
      }
    }
    @include tbl-border(th, dotted, #e7e7e7);
  }

  tbody {
    @include tbl-border(td, dotted, #e7e7e7);

    tr {
      cursor: pointer;

      &:hover {
        td:not(.active),
        select:not(:focus),
        input:not(:focus) {
          background-color: #c0def7;
        }

        td.active {
          background-color: #FFE419;
        }
      }

      td {
        background-color: #fff;
      }
      .hover.active {
        background-color: #FFE419;
      }

      td:hover:not(.active),
      select:hover:not(:focus),
      input:hover:not(:focus) {
        background-color: #a1caec;
      }

      // Нажатие в таблички строку для JQUERY
      &.selected {
        cursor: default;

        &,
        select:not(:focus):not(:hover),
        input:not(:focus):not(:hover) {
          background-color: #e7e7e7;
        }
      }

      .active {
        background-color: yellow;
      }
    }
  }
  // Выделение в таблички строку
  tfoot {
    background-color: #e7e7e7;
    font-weight: bold;
    @include tbl-border(td, solid, white);
  }

  // Последним может быть и thead и tfooter
  & :last-child {
    tr {
      &:last-child td {
        &:first-child {
          border-bottom-left-radius: $bdrs;
        }

        &:last-child {
          border-bottom-right-radius: $bdrs;
        }
      }
    }
  }

  select, input {
    height: $h_td - 1;
    width: 100%;
    padding: 0;
    font-size: 13px;
    text-align: center;
    border: none;
    outline: none;
    background-color: white;

    &:hover:not(:focus) {
      background-color: #a1caec;
    }


  }

  // Базовая кнопка
  button {
    padding: 0;
    cursor: pointer;
    height: $h_td - 1;
    width: $h_td - 1;
    background-color: transparent;
    border-style: none;

    &:before {
      font-family: $ffIcon;
      top: 1px;
      position: relative;
    }

    &:disabled {
      color: #e7e7e7;
      cursor: default;
    }

    &.btn_view {
      @include tbl-btn('\e105', #5bc0de, #31b0d5);
    } // Кнопка просмотр
    &.btn_edit {
      @include tbl-btn('\270f', #5cb85c, #449d44);
    } // Кнопка редактировать
    &.btn_del {
      @include tbl-btn('\e014', #d9534f, #c9302c);
    } // Кнопка удалить
  }

  /* Группировка колонок */
  .row_group {
    background-color: #fbfbfb;
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
  }

  .name {
    padding-left: 3px;
    text-align: left;
  }

  td.count input[value^='-'] {
    font-weight: bold;
    color: red;
  }
}
