@mixin row-group( $el, $bgc, $c, $pl, $ta ) {
  cursor: default;
  text-align: center;

  &:hover,
  #{ $el }:hover,
  #{ $el }:not(.hover) { background-color: $bgc; color: $c; }

  :first-child { padding-left: $pl; text-align: $ta; }
}

#timesheet_dates {

  .clmn {

    label {
      margin-right: 15px;
      text-decoration: solid underline #666;
    }

    button[data-reasons-absence-id] {
      width: 40px;
      &:not(:disabled) {
        background-image: linear-gradient(to right, #73c1fb 0%, #529ad0 51%, #73c1fb 100%);
        border-color: #73c1fb;
      }
    }
  }

  .parent_table {
    table { width: 0 };
    col:nth-child( 1 ) { width: 250px; }
    col ~ col { width: 60px; }

    tr {
      &.all { @include row-group( 'th', #aaa, #fff, 3px, right ); }
      &.category { @include row-group( 'td', #dadada, #333, 3px, left ); }
      &.group { @include row-group( 'td', #f1f1f1, #333, 15px, left ); }

      &.row_data {
        .name {
          cursor: default;
          padding-left: 27px;
          text-align: left;
        }
      }

      .cell_mark:not([disabled]) {
        color: transparent;
        text-shadow: 0 0 0 #333;

        &:focus {
          outline: none;
        }
      }

      .cell_sum {
       font-weight: bold;
      }
    }
  }
}
