#users {
  flex-direction: row;

  #col_us {
    flex-basis: 1000px;

    col:nth-child( 2 ) { width: 25px; }
    col:nth-child( 3 ) { width: 400px; }
  }
}

#user_new {
  & > .panel {
    label {
      input {
        margin-left: 20px;
        width: 200px;
        text-align: left;
        padding: 0 3px;
      }
    }
  }

  fieldset {
    width: 450px;
    select { width: 300px; }
  }

}
