
#institution_orders {

  #table_institution_orders, #table_io_corrections {
    height: 500px;
  }

  .clmn:nth-child(1) { width: 536px; }
  .clmn:nth-child(2) { width: 435px; table { float: right; } }
}
