#timesheet_dates {

  #table_timesheet_dates {
    height: 500px;
    width: 1065px;

    table { table-layout: fixed; width: 100%; }

    col:nth-child(1) { width: 250px; }
    col ~ col { width: 50px; }

    th { font-weight: bold; }

    /* Колонка с наименованием продуктов */
    tbody td { &:first-child { cursor: default; padding-left: 27px; text-align: left; } }

    td { border-right-color: #aaa; &:hover:not([disabled]) { background-color: #dadada } }

    .category_name {
      cursor: default;
      &:hover, td:hover, td { background-color:  #dadada }
      td:first-child { padding-left: 3px; }
    }

    .group_name {
      cursor: default;
      &:hover, td:hover, td { background-color:  #f1f1f1 }
      &:first-child { padding-left: 15px; }
    }

  }
}